/* BODY */
body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #ddd;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* PHONE FRAME */
.phone{
    width: 375px;
    height: 667px;
    background-color: #01ABDD;

    border-radius: 25px;
    overflow: hidden;

    box-shadow: 0 0 20px rgba(0,0,0,0.2);

    position: relative;
}

/* BOTTOM PANEL */
.bottom-panel{
    position: absolute;
    bottom: 15px;

    width: 95%;
    left: 50%;
    transform: translateX(-50%);

    height: 82%;

    background-color: #E3DFDF;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    box-shadow: 0 -4px 10px rgba(86, 83, 83, 0.2);
}

/* MAP */
#map{
    height: 200px;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
}

/* SEARCH BAR */
.search-bar{
    text-align: center;
    margin-top: 35px;
}

.search-bar input{
    width: 65%;
    padding: 8px;
    border-radius: 15px;
    border: none;
}

.search-bar button{
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    background-color: #0796c1;
    color: white;
    font-weight: 600;
}

.search-bar button:hover{
    transform: scale(1.05);
}

/* STORE INFO */
#store-details{
    width: 90%;
    margin: 10px auto;
}

.store-info{
    background-color: #fff;
    border-radius: 10px;
    padding: 3px 12px;
    margin: 8px 0;
    text-align: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    position: relative;
}

.store-info .store-name{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    top: -6px;
}

.store-info .store-distance,
.store-info .store-address{
    font-size: 14px;
    margin: 2px 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: -4px;
}

.nearby-stores h3{
    font-size: 15px;
    margin: 15px 0 5px 0;
    font-weight: 600;
    font-family: 'IBM Plex Sans', sans-serif;
}